@use "vars";

/*card styles*/

.card-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem 1rem;
    margin: 3.5rem 0 2.5rem 0;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 23rem;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
}

.card-image {
    flex: 2 1 37.5rem;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
    max-height: 388.95px;
}

.card-image img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card-info {
    flex: 1 1 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;

    min-height: 21rem;
}

.card-title {
    font-size: 1.5em;
    font-family: "MinervaModern", serif;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #111;
    margin: 0;
}

.card-icons {
    display: flex;
    gap: 0.5rem;
    margin: 0;
}

.card-icons .card-duration {
    margin-left: 0.2em;
    font-size: 0.98em;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    align-items: center;
    height: 20px;
    margin: 0;
}

.card-divider {
    width: 100%;
    border: none;
    border-top: 1px solid #bababa;
    margin: 0;
}

.card-description {
    font-family: "Britanica", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #222;
    line-height: 1.2em;
    margin: 0;
}

.price{

}
.card-prezzo {
    color: #888;
    font-size: 0.95em;
    font-weight: 500;
    margin: 0;
}

.card-price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem 0;
}

.card-amount {
    font-family: "Britanica", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    // margin-right: 0.5em;
    margin: 0;
}

.card-iva {
    background: #f2f2f2;
    color: #000;
    font-size: 0.8em;
    padding: 0.3em 0.7em;
    font-weight: 500;
    margin: 0;
}

.card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #111;
    background: none;
    color: #111;
    font-size: 1em;
    font-family: "MinervaModern", serif;
    font-weight: 700;
    padding: 0.5em 1em;
    transition: background 0.15s;
    margin-top: auto;
}

.card-details:hover,
.card-details:focus {
    background: #f8f6f2;
}

.icon-arrow svg {
    display: inline-block;
    vertical-align: middle;
}

.icon-clock {
    display: flex;
}