@font-face {
        font-family: "MinervaModern";
        src: url("../fonts/MinervaModern-Regular.otf") format("opentype");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

@font-face {
        font-family: "MinervaModern";
        src: url("../fonts/MinervaModern-Regular.otf") format("opentype");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

@font-face {
        font-family: "Britanica";
        src: url("../fonts/Britanica.otf") format("opentype");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

@font-face {
        font-family: "Britanica";
        src: url("../fonts/Britanica-ExtraBold.otf") format("opentype");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
